# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# IDE Settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Logs
*.log
